@page
@model ArrowInventory.Pages.AdminModel
@{
    ViewData["Title"] = "Admin Page";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>
@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-@Model.StatusType">
        @Model.StatusMessage

    </div>
}
<div class="card bg-body-tertiary border-secondary mb-4">
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div class=" mb-2">
                    <label>Site Name</label>

                    <input asp-for="SiteName" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Site Code</label>

                    <input asp-for="SiteCode" class="form-control" />
                </div>

                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary mb-3">
                        Submit
                    </button>

                    <button type="reset" class="btn btn-secondary mb-3">
                        Clear
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mb-3">
    <table class="table table-bordered table-hover mb-0 text-center align-middle">
        <thead>
            <tr>
                <th>Site Name</th>
                <th>Site Code</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in Model.Sites)
            {
                <tr>
                <td>@site.SiteName</td>
                <td>@site.SiteCode</td>
                    <td class="text-center">
                        <form method="post" asp-page-handler="Delete">
                                <input type="hidden"
                                        name="sitecode"
                                        value="@site.SiteCode" />
                            <button type="submit"
                                    class="dropdown-item text-danger"
                                    onclick="event.stopPropagation()">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

