@page
@model ArrowInventory.Pages.ManageUserModel
@{
    Layout = "_LayoutSidebar";
    ViewData["Title"] = "User Admin";
}
<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h1 class="mb-0">ArrowLabs Inventory</h1>
        <small class="text-secondary">
            ArrowLabs User Management
        </small>
    </div>

</div>
@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-@TempData["StatusType"]">
        @TempData["StatusMessage"]

    </div>
}

<div class="card bg-body-tertiary border-secondary mb-4">
    <div class="d-flex justify-content-center">
        <div class="col-md-6">

            <div class="card-body">

                <div class="text-center">
                    <h3>Create Users</h3>
                </div>

                <form method="post" asp-page-handler="CreateUser">

                    <div class="mb-3">
                        <label>Username<span class="text-danger">*</span></label>
                        <input asp-for="NewUsername" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>DisplayName<span class="text-danger">*</span></label>
                        <input asp-for="NewDisplayName" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Email<span class="text-danger">*</span></label>
                        <input asp-for="NewEmail" class="form-control" type="email" />
                    </div>

                    <div class="mb-3">
                        <label>Password<span class="text-danger">*</span></label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label>Role</label>
                        <select asp-for="NewRole" class="form-control">
                            <option>Admin</option>
                            <option>Read & Write</option>
                            <option>Read Only</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Create User
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h3>Manage Users</h3>
</div>

<div class="mb-3">
    <table class="table table-bordered table-hover text-center align-middle">
        <thead>
            <tr>
                <th>Username</th>
                <th>DisplayName</th>
                <th>UserID</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.DisplayName</td>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@string.Join(",", Model.UserRoles.GetValueOrDefault(user.Id, new List<string>()))</td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-sm"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    onclick="event.stopPropagation()">
                                <span class="material-symbols-outlined text-danger">
                                    more_vert
                                </span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <button class="dropdown-item edit-user-btn text-danger"
                                            data-userid="@user.Id"
                                            data-username="@user.UserName"
                                            data-displayname="@user.DisplayName"
                                            data-email="@user.Email"
                                            data-role="@string.Join("", Model.UserRoles.GetValueOrDefault(user.Id, new List<string>()))"
                                            onclick="event.stopPropagation()">
                                        <span class="material-symbols-outlined">edit</span>
                                        Edit
                                    </button>
                                </li>
                                <li>
                                    <button class="dropdown-item reset-pw-btn text-danger"
                                        type="button"
                                        data-userid="@user.Id"
                                        data-username="@user.UserName"
                                        onclick="event.stopPropagation()">
                                        <span class="material-symbols-outlined">passkey</span>
                                        Reset Password
                                    </button>
                                </li>


                                <li>
                                    <form method="post" asp-page-handler="DeleteUser">
                                        <input type="hidden" name="userID" value="@user.Id" />
                                        <button type="submit" class="dropdown-item text-danger">
                                            <span class="material-symbols-outlined">delete</span>
                                            Delete
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-secondary">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="modalUsername"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="EditUser" id="editUserForm">
                    <input type="hidden" name="userId" id="editUserId"/>

                    <div class="mb-3">
                        <label>Display Name</label>
                        <input class="form-control" name="displayName" id="editDisplayName" />
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <input class="form-control" name="email" id="editEmail" type="email" />
                    </div>

                    <div class="mb-3">
                        <label>Role</label>
                        <select class="form-select" name="role" id="editRole">
                            <option>Admin</option>
                            <option>Read & Write</option>
                            <option>Read Only</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="editUserForm" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetPwModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-secondary">
            <div class="modal-header border-secondary">
                <h5 class="modal-title">Reset Password -<span id="resetPwUsername"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="ResetUserPassword" id="resetPwForm">
                    <input type="hidden" name="userID" id="resetPwUserId" />
                    <div class="mb-3">
                        <label>New Password<span class="text-danger">*</span></label>
                        <input class="form-control" name="newPassword" id="resetNewPassword" type="password" />
                    </div>
                    <div class="mb-3">
                        <label>Confirm Password <span class="test-danger">*</span></label>
                        <input class="form-control" name="confirmPassword" id="resetConfirmPassword" type="password" />
                    </div>
                </form>
            </div>

            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="resetPwForm" class="btn btn-primary">Reset Password</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        document.querySelectorAll('.edit-user-btn').forEach(btn => {
            btn.addEventListener('click', function () {
                document.getElementById('editUserId').value = this.dataset.userid;
                document.getElementById('modalUsername').textContent = this.dataset.username;
                document.getElementById('editDisplayName').value = this.dataset.displayname;
                document.getElementById('editEmail').value = this.dataset.email;
                document.getElementById('editRole').value = this.dataset.role;

                new bootstrap.Modal(document.getElementById('editUserModal')).show();

            });
        });

        document.querySelectorAll('.reset-pw-btn').forEach(btn => {
            btn.addEventListener('click', function() {
                document.getElementById('resetPwUserId').value = this.dataset.userid;
                document.getElementById('resetPwUsername').textContent = this.dataset.username;
                document.getElementById('resetNewPassword').value = '';
                document.getElementById('resetConfirmPassword').value= '';

                new bootstrap.Modal(document.getElementById('resetPwModal')).show();
            });
        });

    </script>
}