@page
@model ManageDevicesModel
@{
    Layout = "_LayoutSidebar";
    ViewData["Title"] = "Manage Devices";
}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h1 class="mb-0">ArrowLabs Inventory</h1>
        <small class="text-secondary">
            ArrowLabs Device Dashboard
        </small>
    </div>

</div>

<div class="card bg-body-tertiary border-secondary mb-4">
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3">
                <div class="card bg-body-tertiary border-secondary text-body">
                    <div class="card-body">
                        <h6 class="text-center text-secondary">
                            Total Devices
                        </h6>
                        <h2 class="text-center">@Model.Devices.Count</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-body-tertiary border-secondary text-body">
                    <div class="card-body">
                        <h6 class="text-center text-secondary">
                            Total Virtual Machines
                        </h6>
                        <h2 class="text-center">@Model.Devices.Count(d => d.isVirtualMachine == true)</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-body-tertiary border-secondary text-body">
                    <div class="card-body">
                        <h6 class="text-center text-secondary">
                            Total Physical Machines
                        </h6>
                        <h2 class="text-center">@Model.Devices.Count(d => d.isVirtualMachine == false)</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body p-0">
    <div class="card bg-body-tertiary border-secondary mb-4">
            <div class="form-outline" data-mdb-input-init>
                <input type="search" id="form1" class="form-control" placeholder="Search Hostname" aria-label="Search" />
            </div>
    </div>
        <div class="table-responsive"> 
            <table class="table table-bordered table-striped table-hover mb-0 text-center align-middle" style="table-layout: fixed; min-width: 1600px;">
                <thead>
                    <tr>
                    <th data-sort="hostname" class="sortable-th">Hostname
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="sitecode" class="sortable-th">Site Code
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="serial" class="sortable-th">Serial Number
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="model" class="sortable-th">Model
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="ip" class="sortable-th">IPV4
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="macaddress" class="sortable-th">MAC Address
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="vm" class="sortable-th">Virtual Machine
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="location" class="sortable-th">Location
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="cpu" class="sortable-th">CPU
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="ram" class="sortable-th">RAM 
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="storage" class="sortable-th">Storage 
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="os" class="sortable-th">Operating System 
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th data-sort="description" class="sortable-th">Description
                            <span class="material-symbols-outlined sortable-icon">swap_vert</span></th>

                    <th class="text-center" style="width: 120px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var device in Model.Devices)
                    {
                        <tr class="clickable-row" style="cursor:pointer"
                            data-hostname="@device.Hostname"
                            data-sitecode="@device.SiteCode"
                            data-serial="@device.SerialNumber"
                            data-model="@device.Model"
                            data-ip="@device.IP"
                            data-vm="@device.isVirtualMachine"
                            data-location="@device.location"
                            data-description="@device.description"
                            data-cpu="@device.CPU"
                            data-ram="@device.RAM"
                            data-storage="@device.Storage"
                            data-os="@device.OS"
                            data-macaddress="@device.MACAddress"
                        >
                            <td class="wrap-text">@device.Hostname</td>
                            <td class="wrap-text">@device.SiteCode</td>
                            <td class="wrap-text">@device.SerialNumber</td>
                            <td class="wrap-text">@device.Model</td>
                            <td class="wrap-text">@device.IP</td>
                            <td class="wrap-text">@device.MACAddress</td>
                            <td class="wrap-text">@device.isVirtualMachine</td>
                            <td class="wrap-text">@device.location</td>
                            <td class="wrap-text">@device.CPU</td>
                            <td class="wrap-text">@device.RAM</td>
                            <td class="wrap-text">@device.Storage</td>
                            <td class="wrap-text">@device.OS</td>

                            <td style="max-width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
                                @device.description</td>

                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-sm"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    onclick="event.stopPropagation()">
                                        <span class="material-symbols-outlined text-danger">
                                            edit
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <button class="dropdown-item text-danger edit-btn"
                                            type="button"
                                            onclick="event.stopPropagation()">
                                        Edit
                                    </button>
                                        </li>
                                        <li>
                                            <form method="post" asp-page-handler="Delete">
                                                <input type="hidden"
                                                    name="hostname"
                                                    value="@device.Hostname" />
                                                <button type="submit"
                                                        class="dropdown-item text-danger"
                                                        onclick="event.stopPropagation()">
                                                    Delete
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                    @if (!Model.Devices.Any())
                    {
                        <tr>
                            <td colspan="14" class="text-center text-secondary align-middle">
                                No Devices Found
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>
<div class="modal fade" id="deviceModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-secondary">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="modalHostname"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="Edit" id="editForm">
                    <input type="hidden" name="hostname" id="editHostname" />

                    <dl class="row">

                        <dt class="col-sm-4">Site Code</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalSitecode"></span>
                            <select class="form-select edit-mode d-none" name="sitecode" id="editSitecode">
                                <option value="">--- Select Site ---</option>
                                @foreach (var site in Model.Sites)
                                    {
                                        <option value="@site.SiteCode">@site.SiteName (@site.SiteCode)</option>
                                    }
                            </select>
                        </dd>

                        <dt class="col-sm-4">Serial Number</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalSerial"></span>
                            <input class="form-control edit-mode d-none" name="serialNumber" id="editSerial" />
                        </dd>

                        <dt class="col-sm-4">Model</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalModel"></span>
                            <input class="form-control edit-mode d-none" name="model" id="editModel" />
                        </dd>

                        <dt class="col-sm-4">IPV4</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalIp"></span>
                            <input class="form-control edit-mode d-none" name="ip" id="editIp" />
                        </dd>

                        <dt class="col-sm-4">Mac Address</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalMACAddress"></span>
                            <input class="form-control edit-mode d-none" name="MACAddress" id="editMACAddress" />
                        </dd>

                        <dt class="col-sm-4">Virtual Machine</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalVm"></span>
                            <select class="form-select edit-mode d-none" name="isVirtualMachine" id="editVm">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </dd>

                        <dt class="col-sm-4">Location</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalLocation"></span>
                            <input class="form-control edit-mode d-none" name="location" id="editLocation" />
                        </dd>

                        <dt class="col-sm-4">CPU</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalCPU"></span>
                            <input class="form-control edit-mode d-none" name="CPU" id="editCPU" />
                        </dd>

                        <dt class="col-sm-4">RAM</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalRAM"></span>
                            <input class="form-control edit-mode d-none" name="RAM" id="editRAM" />
                        </dd>

                        <dt class="col-sm-4">Storage</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalStorage"></span>
                            <input class="form-control edit-mode d-none" name="Storage" id="editStorage" />
                        </dd>

                        <dt class="col-sm-4">OS</dt>
                        <dd class="col-sm-8">
                            <span class="view-mode" id="modalOS"></span>
                            <input class="form-control edit-mode d-none" name="OS" id="editOS" />
                        </dd>

                        <dt class="col-sm-4">Description</dt>
                        <dd class="col-sm-8" style="word-break: break-word;">
                            <span class="view-mode" id="modalDescription"></span>
                            <textarea class="form-control edit-mode d-none" name="description" id="editDescription" rows="3"></textarea>
                        </dd>
                    </dl>
                </form>
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="editForm" class="btn btn-primary edit-mode d-none" id="saveBtn">Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // Row click - view mode
        document.querySelectorAll('.clickable-row').forEach(row => {
            row.addEventListener('click', function (e) {
                if (e.target.closest('.dropdown')) return;
                populateModal(this, false);
            });
        });

        // Edit button click - edit mode
        document.querySelectorAll('.edit-btn').forEach(btn => {
            btn.addEventListener('click', function (e) {
                const row = this.closest('tr');
                populateModal(row, true);
            });
        });

       document.getElementById('form1').addEventListener('input', function () {
           const searchValue = this.value.toLowerCase();

           document.querySelectorAll('.clickable-row').forEach(row => {
               const hostname = row.dataset.hostname.toLowerCase();

               if(hostname.includes(searchValue)){
                   row.style.display = '';
               }else{
                   row.style.display = 'none';
               }
               
           }
           )});

           //Sort by ABC/ZYX 

        const sortState = {};
       
        document.querySelectorAll('th[data-sort]').forEach(th => {
            th.addEventListener('click', function () {
                const key = this.dataset.sort;
                sortState[key] = !sortState[key];

                const tbody = document.querySelector('tbody');
                const rows = Array.from(document.querySelectorAll('.clickable-row'));

                rows.sort((a, b) => {
                    const valA = (a.dataset[key] || '').toLowerCase();
                    const valB = (b.dataset[key] || '').toLowerCase();
                    return sortState[key] ? valA.localeCompare(valB) : valB.localeCompare(valA);
                });

                rows.forEach(row => tbody.appendChild(row));
            });
        });


        function populateModal(row, editMode) {

            // Populate view spans
            document.getElementById('modalHostname').textContent = row.dataset.hostname;
             document.getElementById('modalSitecode').textContent = row.dataset.sitecode;
            document.getElementById('modalSerial').textContent = row.dataset.serial || '—';
            document.getElementById('modalModel').textContent = row.dataset.model || '—';
            document.getElementById('modalIp').textContent = row.dataset.ip;
            document.getElementById('modalVm').textContent = row.dataset.vm;
            document.getElementById('modalLocation').textContent = row.dataset.location || '—';
            document.getElementById('modalDescription').textContent = row.dataset.description || '-';
            document.getElementById('modalMACAddress').textContent = row.dataset.macaddress || '-';
            document.getElementById('modalCPU').textContent = row.dataset.cpu || '-';
            document.getElementById('modalRAM').textContent = row.dataset.ram || '-';
            document.getElementById('modalStorage').textContent = row.dataset.storage || '-';
            document.getElementById('modalOS').textContent = row.dataset.os || '-';
           

            // Populate edit inputs
            document.getElementById('editHostname').value = row.dataset.hostname;
            document.getElementById('editSitecode').value = row.dataset.sitecode;
            document.getElementById('editSerial').value = row.dataset.serial;
            document.getElementById('editModel').value = row.dataset.model;
            document.getElementById('editIp').value = row.dataset.ip;
            document.getElementById('editVm').value = row.dataset.vm.toLowerCase();
            document.getElementById('editLocation').value = row.dataset.location;
            document.getElementById('editDescription').value = row.dataset.description;
            document.getElementById('editMACAddress').value = row.dataset.macaddress;
            document.getElementById('editCPU').value = row.dataset.cpu;
            document.getElementById('editRAM').value = row.dataset.ram;
            document.getElementById('editStorage').value = row.dataset.storage;
            document.getElementById('editOS').value = row.dataset.os;

            // Toggle edit/view mode
            document.querySelectorAll('.edit-mode').forEach(el => el.classList.toggle('d-none', !editMode));
            document.querySelectorAll('.view-mode').forEach(el => el.classList.toggle('d-none', editMode));

            new bootstrap.Modal(document.getElementById('deviceModal')).show();
        }
    </script>
}